/* main body of the website*/
body{
    text-align: center;
    background-color: #053DEC;
}
/* red paper sheet look in the middle of the screen*/
.smallSheet{
    background-color: #F43124;
    margin: auto;
    margin-top: 25px;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 10px;
    z-index: 1;
    width: 1010px;

}
.heading{
    padding-top: 8px;
    padding-bottom: 0px;
    height: 130px;
    
}
.logo {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 33%;
    float: left;
}
.location{
    width: 33%;
    float: left;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.searchBar{
    padding-top: 50px;
}
.navigationBar {
    background-color: #303030;
}
.dropbtn {
    background-color: #303030;
    color: white;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #494949;
}
.image{
    margin-top: 60px;
}
.sales{
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Sedgwick Ave', cursive;
    background-color: #ffffff;
}

