/* main body of the website*/
body{
    text-align: center;
    background-color: #053DEC;
}
/* red paper sheet look in the middle of the screen*/
.smallSheet{
    background-color: #F43124;
    margin: auto;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 2px;
    z-index: 1;
    width: 1010px;

}
.heading{
    padding-top: 8px;
    padding-bottom: 0px;
    height: 130px;
    
}
.logo {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 33%;
    float: left;
}
.location{
    width: 33%;
    float: left;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.searchBar{
    padding-top: 50px;
}
.navigationBar {
    background-color: #303030;
}
.dropbtn {
    background-color: #303030;
    color: white;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #494949;
}
.image{
    margin: 60px;
}
.sales{
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Sedgwick Ave', cursive;
    background-color: #ffffff;
}
.contact{
    color: white;
    background-color: #494949;
    padding: 20px;
    margin: 20px;
    
}
.footer {
    position:fixed;bottom:0;
    width:100%;
    display:block;
    color: white;
}
input[type=text] {
    background-color: transparent;
    box-shadow: 0 0px 0px transparent;
    padding: 5px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    margin: 0 0 5px;
    width: 80%;
    min-height: 36px;
    box-sizing: border-box;
    border-radius: 0;
}

input[type=text]:focus {
    border: 2px solid blue;
}
input[type=submit]{
    background-color: #ffffff;
    border: none;
    color: #494949;
    padding: 16px 32px;
    text-decoration: none;
    width: 80%;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}
input[type=submit]:focus{
    border: 2px solid blue;
}
textarea{
    background-color: transparent;
    box-shadow: 0 0px 0px transparent;
    padding: 5px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    margin: 0 0 5px;
    width: 80%;
    min-height: 36px;
    box-sizing: border-box;
    border-radius: 0;
}
textarea:focus{
    border: 2px solid blue;
}
input[name=Search]{
    width: 200px;
    height: 5px;
}
input[name=search]{
    background-color: #ffffff;
    border: none;
    color: #494949;
    text-decoration: none;
    width: 80px;
    height: 36px;
    cursor: pointer;
    font-size: 16px;
    
}
